<?php view(common.'.'.nav); ?>

  <article>
    <main>
      <div class="infosbox">
        <div class="newsview">
          <h3 class="news_title"><?=$data['article_title']?></h3>
          <div class="bloginfo">
            <ul>
              <li class="author">作者:<a href="/">高赞</a></li>
              <li class="lmname"><a href="/">学无止境</a></li>
              <li class="timer">时间：<?=$data['created_at']?></li>
              <li class="view"><?=$data['article_views']?>人已阅读</li>
            </ul>
          </div>

          <div class="tags"><a href="/" target="_blank">个人博客</a> &nbsp; <a href="/" target="_blank">小世界</a></div>
          <br>
          <!-- <div class="news_about"><strong>简介</strong>个人博客，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，写上一些关于自己生活工作中的小情小事，也会放上一些照片，音乐。每天工作回家后就能访问自己的网站，一边听着音乐，一边写写文章。</div> -->
          <div class="news_con">
              <?=$data['article_content']?>
          </div>


            
        </div>
        <div class="share">
          <p class="diggit"><a> 很赞哦！ </a>(<b id="diggnum"><?=$data['article_like_count']?></b>)</p>
        </div>
        <div class="nextinfo">
          <p>上一篇：<a href="/blog/info?id=<?=$data['id']-1?>">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></p>
          <p>下一篇：<a href="/blog/info?id=<?=$data['id']+1?>">返回列表</a></p>
        </div>
        <div class="news_pl">
          <h2>文章评论</h2>
          <ul>
            <div style="text-align:center;">
              <script>
                function CheckPl(obj) {
                  if (obj.saytext.value == "") {
                    alert("您没什么话要说吗？");
                    obj.saytext.focus();
                    return false;
                  }
                  return true;
                }
              </script>

              <form action="">
                <div>

                </div>
                <br>
                <div>
                  <textarea name="" id="" cols="80" rows="10"></textarea>
                </div>
                <button>提交评论</button>
              </form>
            </div>
          </ul>
        </div>
      </div>
    </main>
    <aside class="r_box">
      <div class="wdxc">
        <h2>图文精选</h2>
        <ul>
          <li><a href="/"><img src="/images/7.jpg"></a></li>
          <li><a href="/"><img src="/images/8.jpg"></a></li>
          <li><a href="/"><img src="/images/9.jpg"></a></li>
          <li><a href="/"><img src="/images/10.jpg"></a></li>
          <li><a href="/"><img src="/images/11.jpg"></a></li>
          <li><a href="/"><img src="/images/12.jpg"></a></li>
        </ul>
      </div>
      <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
          <li><a href="/">学无止境（33）</a></li>
          <li><a href="/">日记（19）</a></li>
          <li><a href="/">慢生活（520）</a></li>
          <li><a href="/">美文欣赏（40）</a></li>
        </ul>
      </div>
      <div class="cloud">
        <h2>标签云</h2>
        <ul>
          <a href="/">陌上花开</a> <a href="/">校园生活</a> <a href="/">html5</a> <a href="/">SumSung</a> <a href="/">青春</a> <a
            href="/">温暖</a> <a href="/">阳光</a> <a href="/">三星</a><a href="/">索尼</a> <a href="/">华维荣耀</a> <a href="/">三星</a>
          <a href="/">索尼</a>
        </ul>
      </div>
      <div class="tuijian">
        <h2 id="tab"><a href="#" class="current">点击排行</a><a href="#">站长推荐</a></h2>
        <div id="content">
          <ul style="display:block;">
            <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
            <li><a href="/">【活动作品】柠檬绿兔小白个人博客模板</a></li>
            <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
            <li><a href="/">2014年度优秀个人博客评选活动</a></li>
            <li><a href="/">你是什么人便会遇上什么人</a></li>
            <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
            <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
            <li><a href="/">个人博客模板《绅士》后台管理</a></li>
          </ul>
          <ul>
            <li><a href="/">个人博客，我为什么要用帝国cms？</a></li>
            <li><a href="/">D设计师博客-一个热爱生活的设计师</a></li>
            <li><a href="/">东轩博客，我看到了你的坚持！</a></li>
            <li><a href="/">程序员创业，就得“豁得出去”！</a></li>
            <li><a href="/">张建华 一个90后年轻站长！我们是对手亦是朋友！</a></li>
            <li><a href="/">《奋斗电商》看知名微商如何做博客引流？</a></li>
            <li><a href="/">《寻之旅》一个关于旅游，游记的个人博客</a></li>
            <li><a href="/">【匆匆那些年】总结个人博客经历的这四年</a></li>
          </ul>
        </div>
      </div>
      <div class="guanzhu">
        <h2>关注我 么么哒</h2>
        <ul>
          <img src="/images/wx.jpg">
        </ul>
      </div>

    </aside>
  </article>
  <?php view(common.'.'.footer); ?>