<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        zane博客
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/x-admin.css" media="all"> 
    <!-- <link rel="stylesheet" href="/cropper/cropper.min.css"> -->
</head>

<body>
    <div class="x-body">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label for="L_title" class="layui-form-label">
                    标题
                </label>
                <div class="layui-input-block">
                    <input type="text" id="L_title" name="article_title" required lay-verify="title" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                    <textarea id="L_content" name="article_content" placeholder="请输入内容" class="layui-textarea fly-editor"
                        style="height: 260px;"></textarea>
                </div>
                <label for="L_content" class="layui-form-label" style="top: -2px;">
                    描述
                </label>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">
                        所在类别
                    </label>
                    <div class="layui-input-block">
                        <select lay-verify="required" name="sort_id">
                            <option>
                            </option>
                            <?php foreach($data as $v): ?>
                            <?php if($v['parent_id']=='0'):?>
                            <optgroup label="<?=$v['sort_name']?>">
                                <?php else: ?>
                                <option value="<?=$v['id']?>"><?=str_repeat('&nbsp;',$v['level']*4)?><?=$v['sort_name']?></option>
                                <?php endif;?>
                            </optgroup>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <br>
                <div class="layui-col-xs4 layui-col-sm5 layui-col-md4">
                    <?php foreach($label as $v): ?>
                    <input type="checkbox" name="noList" value="<?=$v['id']?>" title="<?=$v['label_name']?>">
                    <?php endforeach; ?>
                </div>
                
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" lay-filter="add" lay-submit>
                    立即发布
                </button>
            </div>
        </form>
    </div>
    <script src="/lib/layui/layui.js" charset="utf-8">
    </script>
    <script src="/js/x-layui.js" charset="utf-8">
    </script>
    <!-- <script src="/cropper/cropper.min.js"></script> -->
    <script>
        layui.use(['form', 'layer', 'layedit'], function () {
            $ = layui.jquery;
            var form = layui.form()
                , layer = layui.layer
                , layedit = layui.layedit;


            layedit.set({
                uploadImage: {
                    url: "/upload/uploadImg" //接口url
                    , type: 'post' //默认post
                }
            })

            //创建一个编辑器
            editIndex = layedit.build('L_content');

            //监听提交
            form.on('submit(add)', function (data) {
                data.field.article_content = layedit.getContent(editIndex);   
                // console.log(data.field.article_content);
                var noList = new Array;
                $("input:checkbox[name='noList']:checked").each(function(){
                    noList.push($(this).val());
                })
                data.field.noList = noList;
                var article = data.field;
      
                $.ajax({
                    type:'POST',
                    dataType:'json',
                    url:'/article/insert',
                    data:article,
                    success:function(data){
                        if(data.status == '200') {
                            //发异步，把数据提交给php
                            layer.alert(data.messages, { icon: 6 }, function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                window.parent.location.reload();
                                parent.layer.close(index);
                            });
                        }
                    }
                })
                
                return false;
            });


        });
    </script>

</body>

</html>