<!doctype html>
<html>

<head>
    <meta charset="utf8"">
<title>Community blogs</title>
<meta name=" keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
    <meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/info.css" rel="stylesheet">
    <link href="/css/m.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.easyfader.min.js"></script>
    <script src="/js/hc-sticky.js"></script>
    <script src="/js/comm.js"></script>
    <script src="/js/scrollReveal.js"></script>
    <link rel="stylesheet" href="/css/page.css">
    <!--[if lt IE 9]>
<script src="/js/modernizr.js"></script>s
<![endif]-->
</head>

<body>
    
    <header class="header-navigation" id="header">
        <nav>
            <div class="logo"><a href="http://www.yangqq.com">Community blogs</a></div>
            <h2 id="mnavh"><span class="navicon"></span></h2>
            <ul id="starlist">
                <li><a href="/">网站首页</a></li>
                <!-- <li><a href="/test/f_about">关于我</a></li> -->
                <li><a href="/test/_share/">模板分享</a></li>
                <li><a href="/test/f_list/">博客日记</a></li>
                <li class="menu"><a href="/blog/fengmian">学无止境</a>
                    <ul class="sub">
                        <li><a href="#">慢生活</a></li>
                        <li><a href="#">美文欣赏</a></li>
                    </ul>
                </li>
                <li><a href="/test/f_time">时间轴</a></li>            
            </ul>
    
            <div class="searchbox">
                <div id="search_bar" class="search_bar">
                    <form id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
                        <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                        <input type="hidden" name="show" value="title" />
                        <input type="hidden" name="tempid" value="1" />
                        <input type="hidden" name="tbname" value="news">
                        <input type="hidden" name="Submit" value="搜索" />
                        <p class="search_ico"> <span></span></p>
                       
                    </form>
                </div>
            </div>
        </nav>
    </header>